@import 'home';
@import 'proyectos';
@import 'contacto';
@import 'footer';

/*.quienesomos, .proyectos, .filosofia, .img  { display:none; }  */

.vertical-align{
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
