<div class="proyectos" id="proyectos">
    <div class="container-fluid">

        <div class="body-head">
            <div class="img-header" parallax-background parallax-ratio="-0.2">
                <div class="leyends container">
                    <div class="row text-right">
                        <div class="col-md-11 col-xs-12">
                            <p>PROYECTOS</p>
                        </div>
                        <div class="content-hr col-md-1 col-xs-12">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="grid">
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/1.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/2.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/3.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/4.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/5.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/6.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/7.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/8.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/9.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/10.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/11.png" />
            </div>
            <div class="col-md-3 b-grid" ng-click="getDetailGrid();">
                <img src="./assets/images/grid/12.png" />
            </div>

        </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content slideModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="./assets/images/arrow.png" alt="" />
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12 foto text-center">
                        <div class="swiper-container gallery-top">
                            <div class="swiper-wrapper">

                                <div class="swiper-slide" style="background-image:url(http://www.canonistas.com/galerias/data/500/panoramica-guggenheim.jpg)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/2.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/3.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/4.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/5.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/6.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/7.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/8.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/9.png)"></div>
                                <div class="swiper-slide" style="background-image:url(./assets/images/grid/10.png)"></div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6 contenido col-xs-12">
                        <div class="titulo col-md-offset-1">
                            PROYECTO 1
                        </div>
                        <hr>
                        <div class="descripcion col-md-offset-1">

                            Royal Home es una desarrolladora inmobiliaria multidisciplinaria en los giros
                            comercial, vivienda, y corporativo, adaptada al estilo de vida de sus usuarios
                            ofreciendo calidad, vanguardia e innovación en cada proyecto; dando como resultado
                            una inversión rentable para ambas partes.
                            <br><br>
                            Royal Home es una empresa con más de 12 años de experiencia
                            Generalmente creamos proyectos de usos mixtos, no porque sean
                            una moda en los nuevos desarrollos inmobiliarios, sino porque
                            encontramos el estilo de vida de nuestros clientes, que se adapta
                            a sus necesidades de socialización, trabajo, vivienda y sentido de pertenencia
                            <br><br>
                            Royal Home es una empresa con más de 12 años de experiencia
                            Generalmente creamos proyectos de usos mixtos, no porque sean una
                            moda en los nuevos desarrollos inmobiliarios, sino porque encontramos
                            el estilo de vida de nuestros clientes, que se adapta a sus necesidades
                            de socialización, trabajo, vivienda y sentido de pertenencia..
                        </div>
                    </div>
                </div>





            </div>

            <div class="modal-footer">

                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper list">
                        <div class="swiper-slide" style="background-image:url(http://www.canonistas.com/galerias/data/500/panoramica-guggenheim.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/2.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/3.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/4.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/5.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/6.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/7.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/8.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/9.png)"></div>
                        <div class="swiper-slide" style="background-image:url(./assets/images/grid/10.png)"></div>
                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
                </div>

            </div>
        </div>
    </div>
</div>




</div>
