<div class="footer" ng-controller="scroll">
    <div class="h1 col-xs-12">
        <div class="container">
            <div class="row imgs">
                <div class="col-md-4 col-xs-4 text-left img-responsive">
                    <img src="./assets/images/footer/f1.png" alt="" />
                </div>
                <div class="col-md-4 col-xs-4 text-center long img-responsive">
                    <img  src="./assets/images/footer/f2.png" alt="" />
                </div>
                <div class="col-md-4 col-xs-4 text-right img-responsive">
                    <img src="./assets/images/footer/f3.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="h2 col-xs-12">
        <div class="container">
            <div class="row vertical-align">
                <div class="col-md-6 col-xs-6">


                    <div class="row">
                        <img class="logo" src="./assets/images/logo.svg" alt="" />
                    </div>

                    <div class="row">
                        <div class="social col-md-6 col-xs-6">
                            <div class="col-md-2 col-xs-8">
                                <a href="#">
                                    <img class="img-responsive" src="./assets/images/footer/fb.png" alt="" />
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-8">
                                <a href="#">
                                    <img class="img-responsive" src="./assets/images/footer/ln.png" alt="" />
                                </a>
                            </div>
                            <div class="col-md-2 col-xs-8">
                                <a href="#">
                                    <img class="img-responsive" src="./assets/images/footer/g.png" alt="" />
                                </a>
                            </div>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <address>
                                Dirección 1971 int. 6 <br>
                                Fracc. Andares <br>
                                Guadalajara, Jal. México <br>
                                <br>
                                <a href="tel:33333 333 333">33333 333 333</a><br>

                                <a href="mailto:arquitecto@contacto.com">arquitecto@contacto.com</a>
                                <br>
                            </address>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-6">
                    <div class="nav col-md-5 col-xs-12">
                        <p class="nav-m">MENU</p>
                        <a href="#" ng-click="scrollTo($event, 'quienesomos')" ><p>Quienes somos</p></a>
                        <a href="#" ng-click="scrollTo($event, 'proyectos')"><p>Proyectos</p></a>
                        <a href="#" ng-click="scrollTo($event, 'desarrollos')"><p>Desarrollos</p></a>
                        <a href="#" ng-click="scrollTo($event, 'propiedades')"><p>Propiedades Disponibles</p></a>
                        <a href="#" ng-click="scrollTo($event, 'contacto')"><p>Contacto</p></a>
                    </div>
                    <div class="col-md-7 text-right col-xs-12 c-arrow">
                        <a href="#">
                            <img onclick="window.scrollTo(0, 0);" class="arrow" src="./assets/images/arrow.png" alt="" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="h3 col-xs-12">
        <div class="container">
            <div class="row">
                <img class="img-responsive" src="./assets/images/footer/txt.png" alt="" />
            </div>

        </div>
    </div>
</div>
